*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* a{
    width: 100%;
    text-decoration: none;
    color: black;
}

body{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
} */

.header-container{
    width: 100%;
    height: 55px;
    /* background-color: rgb(65, 65, 65); */
    background-color: #222222;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;  
    flex-direction: row;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    z-index: 2;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

.header-container .samping{
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-container .logo{
    /* background-color: red; */
    width: 18%;
    height: 100%;
    /* justify-content: center; */
    margin-left: 113px;
    align-items: center;
    display: flex;
}

.header-container .logo img{
    width: 35%;
}

.header-container .notif-profile{
    /* background-color: green; */
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-right: 93px; */
}

.header-container .notif-profile a{
    /* background-color: red; */
    width: 40px;
    height: 40px;
}

.header-container .notif-profile a .profile{
    width: 40px;
    height: 40px;
}

.header-container .notif-profile .notif{
    margin-right: 15px;
    width: 30px;
    height: 30px;
}

.header-container .tengah{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header-container .tengah .search-wrapper{
    /* background-color: aqua; */
    width: 35%;
    height: 32px;
    /* border: 2px solid rgb(119, 119, 119); */
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ffffff;
}

.header-container .tengah .search-wrapper .search{
    width: 90%;
    height: 35px;
    justify-content: left;
    align-items: center;
    display: flex;
    color: rgb(119, 119, 119);
    border-radius: 20px;
}

.header-container .tengah .search-wrapper .searchh{
    margin-left: 5px;
    /* background-color: aqua; */
    height: 25px;
    width: 453px;
    display: flex;
    align-items: center;
    filter: grayscale(100%);
}

.header-container .tengah .search-wrapper .searchh .search-input{
    font-size: 16px;
    color: #333333;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
}

.search-input::placeholder{
    color: rgba(0, 0, 0, 0.55);
}

.header-container .tengah .search-wrapper .iconSearch{
    /* background-color: blueviolet; */
    border-left: 2px solid #222222;
    width: 5%;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    z-index: 1;
}

.header-container .tengah .search-wrapper .iconSearch img{
    width: 15px;
    height: 15px;
    padding-left: 9px;
}

.navbar{
    width: calc(100px + 15%);
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* z-index: -1; */
}

.bagianKiri{
    background-color: white;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;  
    flex-direction: row;
    border-right: 1px solid rgba(202, 202, 202);
    padding-left: 100px;
}

.navbar .bagianKiri .navigation{
    /* background-color: aqua; */
    width: 100%;
    padding-top: 60px;
    justify-content: space-between;
    align-items: center;
    display: flex;  
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.navbar .bagianKiri .navigation .nav-atas{
    width: 100%;
    margin-right: 10px;
}

.navbar .bagianKiri .navigation .cat{
    padding-left: 10px;
    margin-top: 7px;
    height: 50px;
    /* background-color: green; */
}

.navbar .bagianKiri .navigation .home-part{
    /* margin-right: -10px;
    padding-left: 10px; */
    width: 100%;
    height: 50px;
    justify-content: left;
    align-items: center;
    display: flex;  
    flex-direction: row;
    /* margin-top: 2.7px; */
    margin-bottom: 2.5px;
    padding-left: 10px;
    margin-top: 10px;
    /* background-color: green; */
}

.navbar .bagianKiri .navigation .home-part p{
    /* font-weight: 1000; */
    font-size: 22px;
    font-weight: 550;
    margin-left: 10px;
    padding-left: 10px;
}

.navbar .bagianKiri .navigation .create-part{
    background-color: #0080ff;
    border-radius: 25px;
    margin-bottom: 20px;
    width: 80%;
    height: 41px;
    justify-content: center;
    align-items: center;
    display: flex;  
    color: white;
    padding: 5px;
}

.navbar .bagianKiri .navigation .create-part:hover{
    background-color: #0074e7;
}

.navbar .bagianKiri .navigation .create-part p{
    font-size: 20px;
    /* font-weight: bold; */
    font-weight: 550;
    /* margin-left: 10px; */
}

.navbar .bagianKiri .navigation .cat p{
    font-size: 22px;
    font-weight: 550;
    margin-left: 10px;
}

.cat{
    /* background-color: palevioletred; */
    /* border: 3px solid rgba(0, 0, 0, 0.5); */
    width: 100%;
    height: 41px;
    justify-content: left;
    align-items: center;
    display: flex;  
    flex-direction: row;
    margin-top: 2.7px;
    margin-bottom: 2.5px;
}

.cat:hover, .home-part:hover{
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    cursor: pointer;
}

.cat img{
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

.cat p{
    padding-left: 10px;
    font-size: 100%;
}